.tab-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 12px 12px 24px;
    cursor: pointer;
    border-left: 2px solid transparent;
}

.active {
    background-color: var(--active-color);
    color: var(--primary);
    border-left: 2px solid var(--primary);
}

.tab-container:hover {
    background-color: var(--background);
}