.tab-name {
    font-size: 12px;
    font-weight: bold;
    padding: 12px 12px 12px 24px;
    cursor: pointer;
}

.active {
    background-color: var(--active-color);
    color: var(--primary);
    border-left: 2px solid var(--primary);
}

.tab-name:hover {
    background-color: var(--background);
}