.logobar-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.logo {
  height: 40px;
  object-fit: contain;
  filter: invert(100%);
}