.movie-item-container {
  display: inline-block;
  margin-right: 24px;
  cursor: pointer;
  padding-bottom: 40px;
  position: relative;
}

.rating-time-container {
  display: flex;
  justify-content: space-between;
}

.poster-container {
  background-color: red;
}

.poster {
  margin: 16px 0px 8px;
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

.poster:hover+.stack-top {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hover-poster);
}

.stack-top {
  background-color: var(--hover-poster);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.favorites-icon {
  color: var(--primary);
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 100%;
}

.title {
  font-weight: bold;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title:hover {
  overflow: visible;
  white-space: normal;
}

.rating-full-stars {
  color: var(--secondary) !important;
}

.rating-empty-stars {
  color: transparent !important;
}

.rating-empty-stars>svg>path {
  fill: none;
  stroke: var(--primary);
  stroke-width: 1px;
  stroke-linejoin: round;
}